<h3>Bienvenido al Proyecto OMNIbnk</h3>
<p></P>
<a>OMNIbnk</a>
<p>OmniBnk es la primera plataforma de servicios financieros (fintech) para pequeñas y medianas empresas de Latinoamérica. Ofrecemos préstamos para capital de trabajo enfocados en solucionar problemas de acceso a financiamiento de las pymes de la región que, pese a tener sus finanzas sanas, no son sujeto de crédito en las alternativas tradicionales.</p>