

<%= image_tag("linea.png",width:'18%') %>
<%= image_tag("letras5.png",width:'20%') %>

<br>
<p>OmniBnk es la primera plataforma de servicios financieros (fintech) para pequeñas y medianas empresas de Latinoamérica. Ofrecemos préstamos para capital de trabajo enfocados en solucionar problemas de acceso a financiamiento de las pymes de la región que, pese a tener sus finanzas sanas, no son sujeto de crédito en las alternativas tradicionales.
<br>
<%= image_tag("cinema.png",width:'20%')  %>
</p>
